/* Poppins google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root{
    --primary-color: #3A3A3A;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
/* global utility section */
.container{
    max-width: 1200px;
    margin: 0 auto;                 
}
/*-----------------------
    top navigatin bar style
---------------------------------- */
nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.nav-left h3{
    color: var(--primary-color);
    font-size: 24px;
}
.nav-right{
    display: flex;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a, i{
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
}
 /*-------------------
    Banner Section Style
  --------------------------------- */
  .banner{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }
  .banner-left h1{
      color: var(--primary-color);
      font-size: 52px;
  }
  .banner-left p{
      margin: 16px 0;
  }
  .banner-left a{
    display: block;
    text-decoration: none;
    background: #E02C6D;
    border-radius: 41px;
    color: #ffffff;
    width: 196px;
    height: 38px;
    text-align: center;
    padding: 5px;
  }
  .banner-left a:hover{
    box-shadow: inset 0 0 10px #000000;
    transition: 0.5s;
  }
  .banner-left i{
    color: #ffffff;
  }
  .banner-right{
    background-image: url("../images/circle-design.svg");
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
  }
/*------------------------
    Company Brand Logo styels 
 -------------------------------------*/
.company-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 15px 70px;
    margin-top: 100px;
}
/*----------------------------------
 Popular Product collection section style 
 ----------------------------------------------*/
 .popular-section-title h2{
    color: var(--primary-color);
    font-size: 28px;
    text-align: center;
    margin: 100px 0 30px 0;
}
.product-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
 }
 
.product-photo-frame{
   width: 330px;
   height: 450px;
   padding: 15px;
   box-shadow: rgba(165, 165, 165, 0.2) 0px 8px 24px;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}
.product-photo-frame:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.3s;
}
.product-photo:hover {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.product-photo img{
   width: 100%;
}
.product-details h4{
    font-size: 28px;
    color: #18191F;
}
.product-details h5{
    font-size: 24px;
    color: #18191F;
}
.product-details p{
    font-size: 14px;
    color: #787885;
}
.fas.fa-star{
    color: orange;
    font-size: 15px;
}
.see-more-button{
    padding-top: 50px;
    text-align: right;
}
.see-more-button a{
    text-decoration: none; 
    color: rgba(224, 44, 109, 0.87); 
    font-size: 16px;
}
.see-more-arrow{
    color: rgba(224, 44, 109, 0.87); 
}
/*----------------------
Featured section style
---------------------------------- */
.camera-feature h2{
    color: var(--primary-color);
    text-align: center;
    padding: 30px 0;
    font-size: 28px;
}
.feature{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
}
.feature-items{
    box-shadow: rgba(165, 165, 165, 0.2) 0px 8px 24px;
    padding: 15px;
    border-radius: 10px;
}
.feature-items:hover{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: 0.3s;
}
.feature-items p{
  font-size: 14px;
  color: #787885;
  margin: 5px 0;
}
.feature-icon{
    background-color: #F7F0FF;
    border-radius: 100%;
    text-align: center;
}

/*------------------------
footer section 
--------------------------------------*/
footer{
    max-width: 100%;
    background: #0A0826;
    padding: 50px;
}
.footer-info{
    text-align: center;
    color: #ffffff;
}
.footer-info h3{
    font-size: 24px;
}
.footer-info p{
    font-size: 14px;
}
.footer-social-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 16px;
    margin-top: 16px;
}
.social-icon, .fab{
    color: #ffffff;
}
.social-icon, .fa-instagram, .fa-facebook, .fa-twitter, .fa-youtube{
    background-color: #22213C;
    border-radius: 50%;
}

/*--------------------
 Responsive style
 ------------------------------- */
 @media (max-width:688px) {
     .banner{
         grid-template-columns: repeat(1, 1fr);
     }
     .banner-left{
         order: 2;
     }
     .company-logo{
         grid-template-columns: repeat(1, 1fr);
         
     }
     .logo{
        margin-bottom: 15px;
     }
     .product-card{
         grid-template-columns: repeat(1, 1fr);
     }
     .feature{
         grid-template-columns: repeat(1, 1fr);
     }
 }
 @media (max-width:992px) {
     .banner{
         grid-template-columns: repeat(1, 1fr);
         padding: 0 30px;
     }
     .banner-left{
        order: 2;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);  
    }
    .logo{
        margin-bottom: 15px;
        
     }
     .product-card{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
     }
     .feature{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 30px;
    }

 }